/* Google Fonts */
@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);

/* Global */
@supports (padding-top: env(safe-area-inset-top)) {
	body {
		padding: 0;
		height: calc(100% + env(safe-area-inset-top));
	}
}
html{
  min-height: 100%;
  overflow: hidden;
}
body {
	background-color: #000;
	color: #e72337;
	font-family: "Righteous", sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 5px;
	overflow: hidden;
	margin: 0;
	text-shadow: 0px 0px 13px #e82337;
}
div#logo {
	opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    z-index: 9;
}
h1#logo-terminal {
    font-size: 16vw;
    letter-spacing: 2vw;
    margin: 0px;
}
#logo-icon {
    opacity: 1;
    height: 15vw;
    width: auto;
    position: relative;
    margin-right: 1vw;
}
#terminal{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0px;
	padding: 0px;
	font-size: 7vw;
	width: 90%;
    text-align: center;
}
canvas {
	width: 100vw;
	height: 100vh;
	opacity: 0;
}
footer,
header {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 15px;
    letter-spacing: normal;
    text-align: center;
    padding: 40px 15px 15px 15px;
    color: #fff;
    background: linear-gradient(to bottom, transparent, #000000);
    opacity: 0;
    text-shadow: none;
}
#logo-footer {
    height: 14px;
    position: relative;
    top: 1.5px;
}
header{
	top:0px;
	bottom: initial;
	background: linear-gradient(to bottom, #000000, transparent);
	font-size: 10px;
	z-index: 9;
	padding: 15px 15px 40px 15px;
}
footer a,
header a {
	color:#FFF;
}